rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Autoriser l'accès uniquement aux utilisateurs authentifiés
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Exemple pour une collection publique en lecture seule
    match /public_data/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}